@model Chat

    <vc:group></vc:group>
    <div class="chatbox">
        <div class="chatlogs">
            @foreach (var message in Model.Messages)
            {
                <div class="chat other">
                    <div class="user-photo">
                        <img src="~/userImages/userTwo.jpg" />
                        <header>@message.Name</header>
                    </div>
                    <p class="chat-message">
                        @message.Text
                        <footer>@message.TimeStamp</footer>
                    </p>
                </div>
            }
            @*<div class="chat self">
            <div class="user-photo">
                <img src="~/userImages/userOne.jpg" />
            </div>
            <p class="chat-message">
                Sample text here again
                @DateTime.Now.ToShortTimeString()
            </p>
        </div>*@

        </div>
        <div class="chat-form">
            <textarea placeholder="Type a message"></textarea>
            <button class="btn btn-lg btn-success"><span class="fas fa-paper-plane"></span></button>

        </div>
    </div>