@{
    ViewData["Title"] = "Chats";
}

    <div class="justify-content-center">
        <!--SIDE MENU AND NAVBAR HERE-->        
            <!--MOVED TO VIEW COMPONENT-->        
        <vc:group></vc:group>
        

        <!--CHAT BOX HERE-->
        <div class="chatbox">
            <div class="chatlogs">

                <div class="chat other">
                    <div class="user-photo">
                        <img src="~/userImages/userTwo.jpg" />
                    </div>
                    <p class="chat-message">
                        Sample text here
                        @DateTime.Now.ToShortTimeString()
                    </p>
                </div>
                <div class="chat self">
                    <div class="user-photo">
                        <img src="~/userImages/userOne.jpg" />
                    </div>
                    <p class="chat-message">
                        Sample text here again
                        @DateTime.Now.ToShortTimeString()
                    </p>
                </div>

            </div>
            <div class="chat-form">
                <textarea placeholder="Type a message"></textarea>
                <button class="btn btn-lg btn-success"><span class="fas fa-paper-plane"></span></button>

            </div>
        </div>
        <!--END OF CHAT BOX-->
        <!-- POP UP MODAL FOR GROUP -->
        <div class="create-modal" id="create-chat-modal">
            <form asp-controller="Home" asp-action="CreateGroupChat" class="mod-body">
                <button type="button" id="close-modal-btn" onclick="closeModal(event)" class="close-mod">x</button>
                <header>Create Group</header>
                <div>
                    <input name="name" />
                </div>
                <footer>
                    <button><span class="fas fa-check-circle"></span> Create</button>
                </footer>
            </form>
        </div>

        <!-- POP UP MODAL FOR GROUP -->
        <div class="create-modal" id="create-private-modal">
            <form asp-controller="Home" asp-action="CreatePrivateChat" class="mod-body">
                <button type="button" id="close-modal-btn" onclick="closeModal(event)" class="close-mod">x</button>
                <header>Create Private Chat</header>
                <div>
                    <input name="personName" />
                </div>
                <footer>
                    <button><span class="fas fa-check-circle"></span> Create</button>
                </footer>
            </form>
        </div>

    </div>
@*@RenderSection("Scripts",false)*@